<?xml version="1.0" encoding="UTF-8"?>
<aws github-token="cfe67fdcc2ab2b65b7f00ace13e921e1ee74f7df" revision="1">
    <cluster lb="xrow" update="yes">
		<instance name="localhost">
			<role>web</role>
			<role>admin</role>
			<!-- <role>storage</role> -->
			<role>solr</role>
			<role>database</role>
			<role>dev</role>
        </instance>
		<rpm>ezfind-solr</rpm>
		<database-setting name="wait_timeout">50</database-setting>
		<environment name="symfony" docroot="web"> 
		    <bootstrap>
                <script><![CDATA[
#!/bin/sh

SOLR_URL="[SOLR_URL]"
DATABASE_SERVER="[DATABASE_SERVER]"
DATABASE_USER="[DATABASE_USER]"
DATABASE_PASSWORD="[DATABASE_PASSWORD]"
DATABASE_NAME="[DATABASE_NAME]"
DFS_DATABASE_SERVER="[DFS_DATABASE_SERVER]"
DFS_DATABASE_USER="[DFS_DATABASE_USER]"
DFS_DATABASE_PASSWORD="[DFS_DATABASE_PASSWORD]"
DFS_DATABASE_NAME="[DFS_DATABASE_NAME]"
DFS_MOUNT="[DFS_MOUNT]"
AWS_KEY="[AWS_KEY]"
AWS_SECRETKEY="[AWS_SECRETKEY]"
AWS_ACCOUNTID="[AWS_ACCOUNTID]"
PACKAGES="http://packages.ez.no/ezpublish/4.7/4.7.0/"
SCRIPT=`readlink -f $0`
SCRIPTDIR=$(dirname ${SCRIPT})

wget --no-check-certificate https://raw.githubusercontent.com/xrowgmbh/xrowvagrant/master/ezcluster/scripts/symfony.sh
source ./symfony.sh
]]></script>
            </bootstrap>
            <database dsn="mysql://xrow:openpass@localhost/symfony"/>
            <hostname>symfony.*</hostname>
        </environment>
        <environment name="5.3" docroot="web"> 
            <bootstrap>
                <script><![CDATA[
#!/bin/sh

SOLR_URL="[SOLR_URL]"
DATABASE_SERVER="[DATABASE_SERVER]"
DATABASE_USER="[DATABASE_USER]"
DATABASE_PASSWORD="[DATABASE_PASSWORD]"
DATABASE_NAME="[DATABASE_NAME]"
DFS_DATABASE_SERVER="[DFS_DATABASE_SERVER]"
DFS_DATABASE_USER="[DFS_DATABASE_USER]"
DFS_DATABASE_PASSWORD="[DFS_DATABASE_PASSWORD]"
DFS_DATABASE_NAME="[DFS_DATABASE_NAME]"
DFS_MOUNT="[DFS_MOUNT]"
AWS_KEY="[AWS_KEY]"
AWS_SECRETKEY="[AWS_SECRETKEY]"
AWS_ACCOUNTID="[AWS_ACCOUNTID]"
PACKAGES="http://packages.ez.no/ezpublish/4.7/4.7.0/"
SCRIPT=`readlink -f $0`
SCRIPTDIR=$(dirname ${SCRIPT})

wget --no-check-certificate https://raw.githubusercontent.com/xrowgmbh/xrowvagrant/master/ezcluster/scripts/53.sh
source ./53.sh
]]></script>
            </bootstrap>
		    <database dsn="mysql://xrow:openpass@localhost/xrow52"/>
			<storage dsn="mysql://xrow:openpass@localhost/xrow52" mount="/mnt/nas/live"/>
            <hostname>stable.*</hostname>
			<hostname>localhost</hostname>
        </environment>
		<environment name="ezpublish" docroot="web"> 
		    <bootstrap>
                <script><![CDATA[
#!/bin/sh

SOLR_URL="[SOLR_URL]"
DATABASE_SERVER="[DATABASE_SERVER]"
DATABASE_USER="[DATABASE_USER]"
DATABASE_PASSWORD="[DATABASE_PASSWORD]"
DATABASE_NAME="[DATABASE_NAME]"
DFS_DATABASE_SERVER="[DFS_DATABASE_SERVER]"
DFS_DATABASE_USER="[DFS_DATABASE_USER]"
DFS_DATABASE_PASSWORD="[DFS_DATABASE_PASSWORD]"
DFS_DATABASE_NAME="[DFS_DATABASE_NAME]"
DFS_MOUNT="[DFS_MOUNT]"
AWS_KEY="[AWS_KEY]"
AWS_SECRETKEY="[AWS_SECRETKEY]"
AWS_ACCOUNTID="[AWS_ACCOUNTID]"
PACKAGES="http://packages.ez.no/ezpublish/4.7/4.7.0/"
SCRIPT=`readlink -f $0`
SCRIPTDIR=$(dirname ${SCRIPT})

wget --no-check-certificate https://raw.githubusercontent.com/xrowgmbh/xrowvagrant/master/ezcluster/scripts/master.sh
source ./master.sh
]]></script>
            </bootstrap>
			<database dsn="mysql://xrow:openpass@localhost/ezpublish"/>
            <hostname>ezpublish.*</hostname>
        </environment>
    </cluster>
</aws>
